onsite_boostcamp/2Sensor_NodeRed_Flow.json
[
    {
        "id": "f701f5ddf87c3544",
        "type": "tab",
        "label": "Heart Rate & Blood Oxygen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ddee435be4fa5167",
        "type": "tab",
        "label": "Power - INA219",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "840372f3ecee254e",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#008bc2",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#005bd1",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#ff00d0",
                "baseFont": "Lucida Sans Unicode,Lucida Grande,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0058cc",
                    "value": "#ff00d0",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ff00d0",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#f04242",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ff4dde",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#141ad7",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#fbd204",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ff00d0",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#d6d6d6",
                    "edited": true
                },
                "base-font": {
                    "value": "Lucida Sans Unicode,Lucida Grande,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ba6b48f8ecdf1006",
        "type": "mqtt-broker",
        "name": "MQTT-Local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d36fff8a1dce301",
        "type": "mqtt-broker",
        "name": "MQTT - Cloud",
        "broker": "45.136.253.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8595217799fb953b",
        "type": "ui_tab",
        "name": "Heart Rate & Blood Oxygen",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d8295f66251071ac",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "484815e9d193d594",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ccf74790953de01",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "19acf45965a6345a",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "32e6bbf5a6c95d9d",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "bfba1afa1a61520f",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "f8b9984a0837a482",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "fba13e2e1dec255c",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 18,
        "width": 14,
        "height": 1
    },
    {
        "id": "6168e142e5269093",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 4,
        "height": 1
    },
    {
        "id": "b14e7fc4c55f0dbe",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 14,
        "height": 1
    },
    {
        "id": "94310bf0a5f460a5",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 21,
        "width": 4,
        "height": 1
    },
    {
        "id": "3bb8d30ed9e01802",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 22,
        "width": 14,
        "height": 1
    },
    {
        "id": "254085bc1c4358a9",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 23,
        "width": 4,
        "height": 1
    },
    {
        "id": "f5fe13c795dedeb2",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "",
        "order": 24,
        "width": 14,
        "height": 1
    },
    {
        "id": "de08524597b89b95",
        "type": "mqtt-broker",
        "name": "mqtt-dashboard.com",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e000b2f09ee92dbb",
        "type": "ui_tab",
        "name": "INA219",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b83bd6a73ee425f8",
        "type": "ui_group",
        "name": "Power Dashboard",
        "tab": "e000b2f09ee92dbb",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bf81f78fb1be815",
        "type": "ui_group",
        "name": "Heart Rate ",
        "tab": "8595217799fb953b",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "64f75533c1f60cd2",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "9bf81f78fb1be815",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "3d5a18fc6c3b1f86",
        "type": "ui_spacer",
        "z": "f701f5ddf87c3544",
        "name": "spacer",
        "group": "9bf81f78fb1be815",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "f93cbb2d218786f1",
        "type": "ui_spacer",
        "z": "ddee435be4fa5167",
        "name": "spacer",
        "group": "b83bd6a73ee425f8",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "832cca6428ec0525",
        "type": "ui_spacer",
        "z": "ddee435be4fa5167",
        "name": "spacer",
        "group": "b83bd6a73ee425f8",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "31423c94c2fc005a",
        "type": "mqtt in",
        "z": "f701f5ddf87c3544",
        "name": "",
        "topic": "hr/ukrit",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2d36fff8a1dce301",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "0c7eba01c05feabf",
                "94cc4625c2106ff1",
                "ac1faa46f63d17d3",
                "5e309c3bfa71cbb5"
            ]
        ]
    },
    {
        "id": "31bdcbd657e86e67",
        "type": "ui_chart",
        "z": "f701f5ddf87c3544",
        "name": "",
        "group": "9bf81f78fb1be815",
        "order": 6,
        "width": 14,
        "height": 5,
        "label": "Heart Rate Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "230ecd66b775d1a5",
        "type": "ui_text",
        "z": "f701f5ddf87c3544",
        "group": "9bf81f78fb1be815",
        "order": 1,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Heart Rate : ",
        "format": "{{msg.payload + \"  bpm\"}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "36",
        "color": "#ff0000",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "ae02335ccc37caef",
        "type": "ui_template",
        "z": "f701f5ddf87c3544",
        "group": "9bf81f78fb1be815",
        "name": "Heart Rate ICON",
        "order": 4,
        "width": 4,
        "height": 4,
        "format": "<div style=\"\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        height: 200px;\">\n    <img id=\"Icon_HR\" src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPjDD-wI7LJdzpreymx05yTwjscqOOYuRuvg&s\"\n            style=\"max-width:100px; max-height:100%; transition: all 0.1s ease;\">\n</div>\n\n<script>\n        const Icon_HR = document.getElementById(\"Icon_HR\");\n        function zoomEffect() {\n            Icon_HR.style.maxWidth = \"180px\";\n            setTimeout(() => {\n                Icon_HR.style.maxWidth = \"150px\";\n            }, 100);\n        }\n        setInterval(zoomEffect, 1000);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4dd2b4511461841f",
        "type": "ui_text",
        "z": "f701f5ddf87c3544",
        "group": "9bf81f78fb1be815",
        "order": 2,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Blood Oxygen : ",
        "format": "{{msg.payload + \"  %\"}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "36",
        "color": "#0062ff",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "71b448bad05cd833",
        "type": "ui_chart",
        "z": "f701f5ddf87c3544",
        "name": "",
        "group": "9bf81f78fb1be815",
        "order": 10,
        "width": 14,
        "height": 5,
        "label": "Oxygen Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0095ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "403b5e5c862dd258",
        "type": "ui_template",
        "z": "f701f5ddf87c3544",
        "group": "9bf81f78fb1be815",
        "name": "Oxygen ICON",
        "order": 8,
        "width": 4,
        "height": 4,
        "format": "<div style=\"\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        height: 200px;\">\n    <img id=\"Icon_Oxygen\" src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyGSIcWzdyZGzdI9mNfsfVbD8Sg0bzYukgpFWP7u3-UwhIcWgirFbX0X-BBabXl_wZGq0\"\n            style=\"max-width:100px; max-height:100%; transition: all 0.1s ease;\">\n</div>\n\n<script>\n    const Icon_Oxygen = document.getElementById(\"Icon_Oxygen\");\n        function zoomEffect() {\n            Icon_Oxygen.style.maxWidth = \"180px\";\n            setTimeout(() => {\n                Icon_Oxygen.style.maxWidth = \"150px\";\n            }, 100);\n        }\n        setInterval(zoomEffect, 1000);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6e9d886a7e0c93e7",
        "type": "ui_gauge",
        "z": "f701f5ddf87c3544",
        "name": "",
        "group": "9bf81f78fb1be815",
        "order": 9,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Blood Oxygen",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ff0000",
            "#e6e600",
            "#1eff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "c20be1e03276f2ca",
        "type": "ui_gauge",
        "z": "f701f5ddf87c3544",
        "name": "",
        "group": "9bf81f78fb1be815",
        "order": 5,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#1eff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "0c7eba01c05feabf",
        "type": "debug",
        "z": "f701f5ddf87c3544",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "94cc4625c2106ff1",
        "type": "function",
        "z": "f701f5ddf87c3544",
        "name": "GET_DATA_HR",
        "func": "msg.payload = msg.payload.hr ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "ae02335ccc37caef",
                "230ecd66b775d1a5",
                "31bdcbd657e86e67",
                "c20be1e03276f2ca"
            ]
        ]
    },
    {
        "id": "ac1faa46f63d17d3",
        "type": "function",
        "z": "f701f5ddf87c3544",
        "name": "GET_DATA_SPO2",
        "func": "msg.payload = msg.payload.spo2 ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 440,
        "wires": [
            [
                "403b5e5c862dd258",
                "4dd2b4511461841f",
                "71b448bad05cd833",
                "6e9d886a7e0c93e7"
            ]
        ]
    },
    {
        "id": "16e88024bac7c3a1",
        "type": "ui_text",
        "z": "f701f5ddf87c3544",
        "group": "9bf81f78fb1be815",
        "order": 3,
        "width": 10,
        "height": 2,
        "name": "",
        "label": "Last Update : ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "28",
        "color": "#f09800",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e309c3bfa71cbb5",
        "type": "function",
        "z": "f701f5ddf87c3544",
        "name": "GET_CURRENT_TIME",
        "func": "let now = new Date(Date.now());\nlet day = String(now.getDate()).padStart(2, '0');\nlet month = String(now.getMonth() + 1).padStart(2, '0');\nlet year = String(now.getFullYear()).slice(-2);\nlet hours = String(now.getHours()).padStart(2, '0');\nlet minutes = String(now.getMinutes()).padStart(2, '0');\nlet seconds = String(now.getSeconds()).padStart(2, '0');\nlet formatted = `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;\n\nmsg.payload = formatted  ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "16e88024bac7c3a1"
            ]
        ]
    },
    {
        "id": "57346f73ebfbf217",
        "type": "mqtt in",
        "z": "ddee435be4fa5167",
        "name": "",
        "topic": "power/ukrit",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2d36fff8a1dce301",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "3d5585cbb6897b60",
                "9c15f1c33a74626d",
                "242d244ef0f9f3c6",
                "6ce58f33234b6f76",
                "e0f0e680a2e119b9",
                "92cc2282a79e7b11"
            ]
        ]
    },
    {
        "id": "92cc2282a79e7b11",
        "type": "debug",
        "z": "ddee435be4fa5167",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 380,
        "wires": []
    },
    {
        "id": "f1c422c68f97d40d",
        "type": "ui_gauge",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 5,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "current_mA",
        "label": "mA",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "3d5585cbb6897b60",
        "type": "function",
        "z": "ddee435be4fa5167",
        "name": "GET_DATA_current_mA",
        "func": "msg.payload = msg.payload.current_mA ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "f1c422c68f97d40d",
                "f3f408360dcf6659"
            ]
        ]
    },
    {
        "id": "f3f408360dcf6659",
        "type": "ui_chart",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 6,
        "width": 17,
        "height": 5,
        "label": "current_mA Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0095ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9c15f1c33a74626d",
        "type": "function",
        "z": "ddee435be4fa5167",
        "name": "GET_DATA_shuntvoltage",
        "func": "msg.payload = msg.payload.shuntvoltage ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "09f1c20cd84efc6c",
                "071f81b6a1c4bd19"
            ]
        ]
    },
    {
        "id": "242d244ef0f9f3c6",
        "type": "function",
        "z": "ddee435be4fa5167",
        "name": "GET_DATA_busvoltage",
        "func": "msg.payload = msg.payload.busvoltage ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "484050faf610dc33",
                "71f8ce7fe4abf9a3"
            ]
        ]
    },
    {
        "id": "6ce58f33234b6f76",
        "type": "function",
        "z": "ddee435be4fa5167",
        "name": "GET_DATA_power_mW",
        "func": "msg.payload = msg.payload.power_mW ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 500,
        "wires": [
            [
                "634aa3a610652e26",
                "e1dc54b9aac15458"
            ]
        ]
    },
    {
        "id": "e0f0e680a2e119b9",
        "type": "function",
        "z": "ddee435be4fa5167",
        "name": "GET_DATA_loadvoltage",
        "func": "msg.payload = msg.payload.loadvoltage ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 640,
        "wires": [
            [
                "3ae01f8ad6e6bb43",
                "86b9e8bd3c59a007"
            ]
        ]
    },
    {
        "id": "09f1c20cd84efc6c",
        "type": "ui_gauge",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 3,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "Shuntvoltage",
        "label": "mV",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "071f81b6a1c4bd19",
        "type": "ui_chart",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 4,
        "width": 17,
        "height": 5,
        "label": "shuntvoltage Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0095ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "484050faf610dc33",
        "type": "ui_gauge",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 1,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "Busvoltage",
        "label": "V",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "24",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "71f8ce7fe4abf9a3",
        "type": "ui_chart",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 2,
        "width": 17,
        "height": 5,
        "label": "busvoltage Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0095ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "634aa3a610652e26",
        "type": "ui_gauge",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 7,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "power_mW",
        "label": "mW",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "20000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "e1dc54b9aac15458",
        "type": "ui_chart",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 8,
        "width": 17,
        "height": 5,
        "label": "power_mW Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0095ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3ae01f8ad6e6bb43",
        "type": "ui_gauge",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 9,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "Load Voltage",
        "label": "V",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "26",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 620,
        "wires": []
    },
    {
        "id": "86b9e8bd3c59a007",
        "type": "ui_chart",
        "z": "ddee435be4fa5167",
        "name": "",
        "group": "b83bd6a73ee425f8",
        "order": 10,
        "width": 17,
        "height": 5,
        "label": "Load Voltage Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0095ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 680,
        "wires": [
            []
        ]
    }
]